.wrapper {
  composes: root from "../shared.module.css";

  flex-shrink: 0;
  height: 420px;
  width: 420px;
}

.wrapper > img {
  display: inline-block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .wrapper {
    box-sizing: border-box;
    padding-left: 30vw;
    width: 100%;
  }

  .wrapper > img {
    max-width: 420px;
    width: 100%;
  }
}

@media (max-width: 739px) {
  .wrapper {
    padding-left: 20px;
  }
}

@media (max-width: 424px) {
  .wrapper {
    max-height: 256px;
    padding-left: 20px;
    max-width: 256px;
  }
}
