.wrapper {
  composes: root from "./shared.module.css";

  padding: 0 var(--spacing);
}

.wrapper > * {
  margin-bottom: var(--spacing-medium);
}

.wrapper > h1,
.wrapper > h2 {
  font-weight: 500;
  line-height: 1.2;
}

.wrapper > h1 {
  font-size: var(--font-size-large);
}

.wrapper > h2,
.wrapper > h3,
.wrapper > p,
.wrapper > ul,
.wrapper > div {
  box-sizing: border-box;
  max-width: 800px;
  position: relative;
}

.wrapper > h2 {
  font-size: var(--font-size-medium);
  margin-left: 15vw;
}

.wrapper > h3,
.wrapper > p,
.wrapper > ul,
.wrapper > div {
  margin-left: 30vw;
}

.wrapper > h3 {
  font-size: var(--font-size-normal);
  font-weight: bold;
  line-height: 1.6;
}

@media (max-width: 739px) {
  .wrapper > h2 {
    margin-left: 0;
  }

  .wrapper > h3,
  .wrapper > p,
  .wrapper > ul,
  .wrapper > div {
    margin-left: 20px;
  }
}
