.wrapper {
  composes: root from "./shared.module.css";
}

.wrapper > * {
  margin-bottom: var(--spacing-medium);
}

.wrapper > h1,
.wrapper > h2 {
  font-weight: 500;
  line-height: 1.2;
}

.wrapper > h1 {
  font-size: var(--font-size-large);
}

.wrapper > h2 {
  font-size: var(--font-size-medium);
}

.wrapper > h3 {
  font-size: var(--font-size-normal);
  font-weight: bold;
  line-height: 1.6;
}

.wrapper a {
  color: var(--grey);
}
